.avatar
  position: relative
  width: 35px
  height: 35px
  
  .avatar-image
    width: 32px
    height: 32px
    border-width: 3px
    border-style: solid
    border-color: #ECECFB
    border-radius: 50px

  .avatar-status
    position: absolute
    top: 0
    right: 3px
    width: 10px
    height: 10px
    border-width: 2px
    border-style: solid
    border-color: #fff
    border-radius: 50px
    font-size: 0

    &.avatar-status-online
      background-color: #54D3AD 