.menu
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 49px
  z-index: 3

  .menu-list
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: nowrap
    height: inherit
    list-style: none

    .menu-list-item
      width: 20vw
      height: inherit
      background-color: #fff
      display: flex
      align-items: center
      justify-content: center

      .menu-item-link
        width: 22px
        height: 22px
        text-decoration: none
        color: #A6AAB4

        &:nth-child(3)
          background-color: #613EEA

        span
          display: none
