@font-face
  font-family: 'bank-icons'
  src: url('../fonts/bank-icons/bank-icons.ttf?5c8k5g') format('truetype'), url('../fonts/bank-icons/bank-icons.woff?5c8k5g') format('woff')
  font-weight: normal
  font-style: normal
  font-display: block


[class^="bank-icon-"]::before,
[class*=" bank-icon-"]::before
  font-family: 'bank-icons' !important
  speak: never
  speak-as: spell-out
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.bank-icon-information::before
  content: '\e903'

.bank-icon-account::before
  content: '\e900'

.bank-icon-currency::before
  content: '\e901'

.bank-icon-email::before
  content: '\e902'

.bank-icon-language::before
  content: '\e906'

.bank-icon-notifications::before
  content: '\e907'

.bank-icon-password::before
  content: '\e908'

.bank-icon-phone-number::before
  content: '\e909'

.bank-icon-privacy-police::before
  content: '\e90a'

.bank-icon-terms-of-use::before
  content: '\e90b'